<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Algorythm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEC3569D1BC824B2004D08F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEC356B11BC824B2004D08F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEC356BC1BC824B2004D08F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
